* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: #353535;
  font-family: 'Shadows Into Light', cursive; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c2baa6;
  gap: 10px;
  height: 60px; }

.Cabecera {
  padding-left: 40px; }

a {
  text-decoration: none;
  color: #353535; }

ul {
  display: flex;
  list-style: none;
  gap: 6px;
  padding-right: 40px; }

h1 {
  font-size: 2rem; }

.background {
  background-color: #F5ECD7; }

.titulo {
  padding: 10px 40px; }

h2 {
  font-size: 1.8rem; }

section {
  font-size: 1.4rem;
  border-radius: 5px;
  background-color: #EADCBD; }
  section img {
    width: 400px;
    height: 300px; }

.pcard {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: hidden;
  height: 330px; }
  .pcard .card {
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px; }
    .pcard .card:hover {
      box-shadow: 5px 5px 10px  #5a4343; }

.about-1 {
  margin-top: 150px;
  margin-bottom: 100px;
  display: flex;
  padding-top: 100px;
  flex-direction: column; }
  .about-1 p {
    margin-bottom: 15px;
    text-align: center; }

.about {
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  margin: 100px 20px 100px 20px;
  padding: 100px 15px 5px 200px;
  height: auto;
  align-items: center; }
  .about p {
    margin-bottom: 15px; }

.img-about {
  position: absolute;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-radius: 80px;
  margin-left: 40px; }
  .img-about img {
    width: 200px;
    height: 200px; }

.location {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  border-radius: 5px;
  text-align: center; }
  .location iframe {
    box-shadow: 5px 5px 10px  #5a4343;
    padding: 2.5px; }
  .location section {
    padding-left: 10px; }

.grid {
  background-color: #F5ECD7;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 300px 80px 300px 80px 300px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-areas: "Trending Trending Trending" "product-1 product-2 product-3" "katty    katty    katty"  "product-4 product-5 product-6" "doggy    doggy    doggy" "product-7 product-8 product-9"; }
  .grid h1 {
    justify-self: left;
    padding-left: 40px; }
  .grid div:hover {
    box-shadow: 5px 5px 10px  #5a4343;
    height: 300px; }
  .grid .Trending {
    grid-area: Trending; }
  .grid .katty {
    grid-area: katty; }
  .grid .doggy {
    grid-area: doggy; }
  .grid .products-1 {
    grid-area: product-1; }
  .grid .products-2 {
    grid-area: product-2; }
  .grid .products-3 {
    grid-area: product-3; }
  .grid .products-4 {
    grid-area: product-4; }
  .grid .products-5 {
    grid-area: product-5; }
  .grid .products-6 {
    grid-area: procuct-6; }
  .grid .products-7 {
    grid-area: procuct-7; }
  .grid .products-8 {
    grid-area: procuct-8; }
  .grid .products-9 {
    grid-area: procuct-9; }

.titulo-1 {
  padding: 10PX 0PX 15PX 0;
  text-align: center; }

.look-1 {
  display: flex;
  background-color: #F5ECD7; }
  .look-1 .look-d {
    display: flex; }
    .look-1 .look-d div {
      background-color: #EADCBD; }
      .look-1 .look-d div img {
        padding: 10px 0px 10px 10px;
        width: 600px;
        height: 450px; }
    .look-1 .look-d .look {
      display: flex;
      flex-direction: column;
      padding-right: 10px;
      border-radius: 0px 5px 5px 0; }
      .look-1 .look-d .look div img {
        width: 100px;
        height: 75px; }

.description-1, .products {
  text-align: center;
  background-color: #F5ECD7; }
  .description-1 span, .products span {
    color: #EB9C64;
    font-size: 2rem; }

.products {
  padding: 15PX 0 15PX 0; }

form {
  padding-bottom: 57px;
  width: 100%;
  background-color: #F5ECD7;
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: center; }
  form .button {
    grid-column: 1/3;
    text-align: center; }
  form p label {
    color: #EB9C64;
    font-size: 1.5rem; }
  form p button {
    background-color: #8FBF9F; }
  form p input {
    color: #EB9C64;
    background: none;
    border: none;
    border-bottom: 1px solid #EB9C64; }

.login-flex {
  /* background-color: #c2baa6; */
  margin: 40px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: 40px;
  height: 100vh; }
  .login-flex form {
    background-color: #EADCBD;
    display: block;
    width: auto; }

.login-flex * {
  padding-top: 10px;
  padding-bottom: 10px; }

footer {
  background-color: #c2baa6;
  text-align: center; }
  footer img {
    width: 20px; }

footer .footer-login {
  position: absolute;
  bottom: 0;
  width: 100%; }

@media (max-width: 1190px) {
  .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 250px 80px 250px 80px 250px;
    justify-content: center;
    align-items: center;
    justify-items: center; }
    .grid h2 {
      justify-self: unset;
      padding: 0; }
    .grid div:hover {
      box-shadow: 5px 5px 10px  #5a4343;
      height: 250px; }
    .grid div img {
      width: 100%;
      height: 250px; }
  .pcard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    height: 280px;
    width: 100%; }
    .pcard .card {
      width: 300px;
      height: 250px;
      overflow: hidden;
      border-radius: 5px;
      margin-top: 20px; }
      .pcard .card img {
        width: 100%;
        height: 250px; }
  .img-about {
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 50px; }
  .about {
    text-align: center;
    padding: 150px 15px 15px 15px;
    overflow: visible;
    height: auto;
    margin-top: 150px;
    margin-bottom: 100px; }
  .look-1 .look-d div img {
    width: 400PX;
    height: 250PX; } }

@media (max-width: 900px) {
  .look-1 {
    display: block; }
    .look-1 .look-d {
      display: flex;
      background-color: #F5ECD7;
      justify-content: center; } }

@media (max-width: 540px) {
  .grid {
    background-color: #F5ECD7;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 280px 80px 280px 80px 280px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-areas: "Trending Trending " "product-1  product-3" "katty       katty"  "product-4  product-6" "doggy        doggy" "product-7  product-9";
    margin-bottom: 50px; }
    .grid .product-2 {
      display: none; }
    .grid .product-5 {
      display: none; }
    .grid .product-8 {
      display: none; }
    .grid h2 {
      padding-left: 0px;
      justify-self: center; }
    .grid div {
      width: 80%;
      height: 280px; }
      .grid div:hover {
        box-shadow: 5px 5px 10px  #5a4343;
        height: 280px; }
      .grid div img {
        width: 100%;
        height: 280px; }
  header {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2baa6;
    height: 100px; }
    header .Cabecera {
      padding-left: 0px; }
    header ul {
      display: flex;
      list-style: none;
      gap: 6px;
      padding-right: 0px;
      font-size: 1.2rem; }
  .img-about {
    margin: auto;
    left: 0;
    right: 0; }
  .about {
    margin-top: 150px;
    padding: 100px 0px 10px 0px;
    overflow: visible;
    height: auto; }
  .titulo {
    text-align: center; }
  .location {
    display: block;
    overflow: visible; }
    .location iframe {
      height: 250px; }
  .look-1 {
    align-items: center;
    background-color: #EADCBD;
    margin: 0px 10px 0px 10px;
    padding-top: 2px;
    flex-direction: column; }
    .look-1 .look-d {
      flex-direction: column;
      text-align: center; }
      .look-1 .look-d div img {
        max-width: 400px;
        width: 100%;
        height: 200PX;
        padding: 10px; }
      .look-1 .look-d .look {
        flex-direction: row;
        justify-content: center; }
        .look-1 .look-d .look div img {
          padding: 0;
          width: 75px;
          height: 50px; } }
