@media (max-width: 540px) {
    .grid{
        background-color: map-get($bg-color, bg-main );
        @include grid (1fr 1fr,80px 280px 80px 280px 80px 280px);
        grid-template-areas:
        "Trending Trending "
        "product-1  product-3"
        "katty       katty" 
        "product-4  product-6"
        "doggy        doggy"
        "product-7  product-9";
        
        margin-bottom: 50px; 
        .product-2{
        display: none;
    }
        .product-5{
        display: none;
    }
        .product-8{
        display: none;
    } 
        h2{
            padding-left: 0px;
            justify-self: center;
    }
        div{
            &:hover{
            box-shadow: 5px 5px 10px  #5a4343;
            height: 280px;
            }
            width: 80%;
            height: 280px;
            img{
                width: 100%;
                height: 280px;
            }
        
    }
    }
    
   
    header{
        width: 100%;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: map-get($bg-color, bg-navfoot );
        height: 100px; 
        .Cabecera {
            padding-left: 0px; 
            
        }
        ul{
            display: flex;
            list-style: none;
            gap: 6px;
            padding-right: 0px;
            font-size: 1.2rem;
        }
        
    }

    .img-about{
        margin: auto;
        left: 0;
        right: 0;
        
    }
    
    .about{
        
        margin-top: 150px;
        padding: 100px 0px 10px 0px;
        overflow: visible;
        height: auto;
    
    }
    .titulo{
        text-align: center;
    }
    
    .location{
        display: block;
        overflow: visible;
        iframe{
        height: 250px;
        
    }
    }
    .look-1{ 
        align-items: center;
        background-color: map-get($bg-color, bg-section );
        margin: 0px 10px 0px 10px;
        padding-top: 2px; 
        flex-direction: column;
        
        .look-d{
            flex-direction: column;
            text-align: center;
            div{
                img{
                max-width: 400px;
                width: 100%;
                height: 200PX;
                padding: 10px;
            }}
            .look{
            flex-direction: row;
            justify-content: center;
                div img{ 
                    padding: 0;
                    width: 75px;
                    height: 50px;
    }
    }
}   
}
}