@media (max-width: 1190px){
    .grid div{
        width: 90%;
        height: 200px;
        overflow: hidden;
    
    }
    
    .grid div:hover{
        box-shadow: 5px 5px 10px  #5a4343;
        height: 200px;
    
    }
    section img{
        width: 100%;
        height: 200px;
    }  
    .card img{
        width: 100%;
        height: 250px;
    
    }
    
    
    .grid h1{
        justify-self: unset;
        padding: 0;
      
    }
    .pcard{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        overflow: hidden;
        height: 280px;
        width: 100%;
    } 
    .card{
        width: 300px;
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
        margin-top: 20px;
    }
    
    .img-about{
        right: 0;
        left: 0;
        margin: auto;
        margin-top: 50px;
    }
    .about{
        text-align: center;
        padding: 150px 15px 15px 15px;
        overflow: visible;
        height: auto;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .look-1 img{
        width: 400PX;
        height: 250PX;
    }
    }