@mixin flex ($direction,$over,$align){
    display: flex;
    flex-direction: $direction;
    overflow: $over;
    align-items: $align;
}
@mixin grid($columns,$rows){
    display: grid;
    width: 100%;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    justify-content: center;
    align-items: center;
    justify-items: center;

}