footer{
    background-color: map-get($bg-color ,bg-navfoot);
    text-align: center;
        img{
            width: 20px; 
    
}
}
footer 
.footer-login{
    position: absolute;
    bottom: 0;
    width: 100%;
}