.grid{
    background-color: map-get($bg-color, bg-main );
    @include grid (1fr 1fr 1fr,80px 300px 80px 300px 80px 300px);
    grid-template-areas:
    "Trending Trending Trending"
    "product-1 product-2 product-3"
    "katty    katty    katty" 
    "product-4 product-5 product-6"
    "doggy    doggy    doggy"
    "product-7 product-8 product-9";
    h1{
        justify-self: left;
        padding-left: 40px;
    }
    div:hover{
        box-shadow: 5px 5px 10px  #5a4343;
        height: 300px;
    
    }
        .Trending{
    grid-area: Trending;
}
    .katty{
    grid-area: katty;
}
    .doggy{
    grid-area: doggy;
}
    .products-1{
    grid-area: product-1;
}
    .products-2{
    grid-area: product-2;
}
    .products-3{
    grid-area: product-3;
}
    .products-4{
    grid-area: product-4;
}
    .products-5{
    grid-area: product-5;
}
    .products-6{
    grid-area: procuct-6;
}
    .products-7{
    grid-area: procuct-7;
}    
    .products-8{
    grid-area: procuct-8;
}   
    .products-9{
    grid-area: procuct-9;
}
}

