.background {
    background-color: #F5ECD7;
}.titulo{
    padding: 10px 40px;
}
section{
    border-radius: 5px;
    background-color: #EADCBD;
}
section img{
    width: 400px;
    height: 300px;
}  