
.titulo-1{
    padding: 10PX 0PX 15PX 0;
    text-align: center;
}
.look-1{
    display: flex;
    background-color: map-get($bg-color,bg-main );
    }
.look-1 div{
    background-color: map-get($bg-color, bg-section);
    }
.look-1 img{
    padding: 10px 0px 10px 10px;
    width: 600px;
    height: 450px;
    
}
.look-d{
    display: flex;
}
.look{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    border-radius: 0px 5px 5px 0;
    
    
}
.look div img{
    width: 100px;
    height: 75px;
}
.description-1{
    text-align: center;
    background-color: map-get($bg-color,bg-main );
}
.products{
    @extend .description-1;
    padding:15PX 0 15PX 0 ;
}

form{ 
    background-color: map-get($bg-color,bg-main );
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.button{
    @extend .description-1;
    padding: 20px 0 20px 0;}