.background {
    background-color: map-get($bg-color,bg-main);
}.titulo{
    padding: 10px 40px;
}
section{
    border-radius: 5px;
    background-color: map-get($bg-color,bg-section);
}
section img{
    width: 400px;
    height: 300px;
}  